* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}

#direct-url-input {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  width: 400px;
  padding: 12px 20px;
  border-radius: 10px;
  outline: none;
  z-index: 1000;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.6);

  &::placeholder {
    color: rgba(255, 255, 255, 0.504);
  }
}

/* Optional: styling the placeholder to match the aesthetic */


a[href="./settings.html"] {
  position: fixed;
  bottom: 24px;
  right: 24px;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;

  color: rgba(255, 255, 255, 0.352);
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-decoration: none;
  text-transform: uppercase;

  background-color: rgba(21, 21, 21, 0.056);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  border: 1px solid rgbargba(21, 21, 21, 0.056);
  border-radius: 5px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);

  /* Interactions */
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1000;

  &:hover {
    background-color: rgba(0, 0, 0, 0.138);
    color: #ffffff;
    transform: translateY(-1px);
    border-color: rgba(0, 0, 0, 0.075);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
  }
}